*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* 
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif; */

/* CLASES CONSTANTES */
.contenedor{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.separador{
    width: 40px;
    /* margin: 20px 0; */
    /* border: 2px solid; */
    /* background-color: black; */
}
.separador-naranja{
    border: 1px solid #f4623a;
    background-color: #f4623a;
}
.separador-blanco{
    border: 1px solid #fff;
    background-color: white;
}
.btn{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* background-color: black; */
    /* color: rgb(255,255,255); */
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 30px;
}
.btn-naranja{
    background-color: #f4623a;
    color: white;
    transition: all .3s;
}
.btn-naranja:hover{
    background-color: #f24516;
    transition: all .3s;
}
.btn-blanco{
    background-color: white;
    color: black;
    transition: all .3s;
}
.btn-blanco:hover{
    background-color: #e2e6ea;
    transition: all .3s;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;    
}
.mt-4{
    margin-top: 40px; 
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.pt-4{
    padding-top: 40px;
}


/* NAV */
.nav{
    font-family: 'Merriweather Sans', sans-serif;
    /* background-color: rgba(0,0,0,.5); */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav.active{
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}
.nav.active .nav__contenedor--logo,
.nav.active .nav__contenedor__menu li a{
    color: black;
}
.nav.active .nav__contenedor--logo:hover,
.nav.active .nav__contenedor__menu li a:hover{
    color: #f4623a;
}
/* .nav.active .nav__contenedor__menu li a{
    color: black;
} */


.nav__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__contenedor--logo{
    color: rgba(255,255,255,.7);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.nav__contenedor--logo:hover{
    color: #fff;
}

.nav__contenedor__menu{
    list-style: none;
    display: flex;
}
.nav__contenedor__menu li a{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: all .5s;
    font-size: 14px;
}
.nav__contenedor__menu li a:hover{
    color: white;
    transition: all .5s;
}
.iconMenu{
    display: none;
}

/* HEADER */
.header{
    background-image: 
        linear-gradient(
            rgba(92,77,66,.8),
            rgba(92,77,66,.8)
        ),
        url(../img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header__contenedor h1{
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}
.header__contenedor p{
    font-size: 18px;
    font-family: 'Merriweather', serif;
    color: rgba(255,255,255,.75);
    text-align: center;
    font-weight: 300;
    width: 60%;
    line-height: 24px;
}

/* BIENVENIDA */
.bienvenida{
    background-color: #f4623a;
    padding: 100px 0;
}
.bienvenida__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bienvenida__contenedor h2{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.bienvenida__contenedor p{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-align: center;
    width: 60%;
    line-height: 24px;
    font-weight: 300;
    color: rgba(255,255,255,.5);
}

/* SERVICIOS */
.servicios{
    padding: 100px 0;
}
.servicios__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicios__contenedor h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.servicios__contenedor__box{
    width: 100%;
    display: flex;
    /* padding: 0 30px; */
    justify-content: space-between;
    /* margin-top: 30px; */
}
.servicios__contenedor__box article{
    text-align: center;
    width: calc(25% - 90px / 4);
}
.servicios__contenedor__box article svg{
    color: #f4623a;
    font-size: 64px;
}
.servicios__contenedor__box article h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
    color: #212529;
    font-weight: 500;
}
.servicios__contenedor__box article p{
    font-family: 'Merriweather', serif;
    line-height: 24px;
    font-weight: 300;
    color: #6c757d;
}

/* PORTAFOLIO */
.portafolio{
    display: flex;
    flex-wrap: wrap;
}
.portafolio__item{
    width: calc(100% / 3);
    position: relative;
}



.portafolio__item img{
    display: block;
    width: 100%;
}
.portafolio__item div{
    /* background-color: #f4623a; */
    background-color: rgba(244,98,58,.8);
    position: absolute;
    /* z-index: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.portafolio__item:hover .portafolio__item__data{
    /* display: flex; */
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

/* .portafolio__item img:hover .portafolio__item div{
    display: flex;
} */
.categoria{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
    font-weight: 700;
}
.nombreProyecto{
    font-family: 'Merriweather', serif;
    font-size: 19px;
    color: white;
    margin-top: 5px;
}

/* DESCARGA */
.descarga{
    background-color: #343a40;
    padding: 100px 0;
    text-align: center;
}
.descarga h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

/* CONTACTO */
.contacto{
    padding: 100px 0;
}
.contacto__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto__contenedor h2{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.contacto__contenedor p{
    font-family: 'Merriweather', serif;
    /* font-size: 16px; */
    text-align: center;
    width: 60%;
    line-height: 24px;
    font-weight: 300;
    color: #6c757d;
}
.contacto__contenedor__box{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}
.contacto__contenedor__box article{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contacto__contenedor__box article svg{
    color: #6c757d;
    font-size: 40px;
}
.contacto__contenedor__box article span{
    font-family: 'Merriweather', serif;
    color: #212529;
}
.contacto__contenedor__box article a{
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #f4623a;
}

/* MEDIA QUERIES / BREAKPOINTS */
/* DESKTOP FIRST */


@media only screen and (max-width: 992px){
    /* CONSTANTES */
    .contenedor{
        width: 80%;
    }
    /* NAV */
    .nav{
        background-color: white;
        padding: 20px 0;
    }
    .nav__contenedor--logo{
        color: black;
    }
    .nav__contenedor__menu{
        /* display: none; */
        position: absolute;
        background-color: rgba(0,0,0,.8);
        top: 0;
        /* bottom: 0; */
        left: -100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }
    .nav__contenedor__menu.menuActive{
        left: 0;
        transition: all .3s;
    }
    .nav__contenedor__menu li a{
        /* color: white; */
        font-size: 35px;
    }
    .iconMenu{
        display: block;
        border: 1px solid rgba(0,0,0,.2);
        font-size: 22px;
        padding: 5px 15px;
        color: rgba(0,0,0,.5);
        border-radius: 3px;
        position: absolute;
        right: 60px;
        background-color: white;
        cursor: pointer;
    }
    /* SERVICIOS */
    .servicios__contenedor__box{
        flex-wrap: wrap;
    }
    .servicios__contenedor__box article{
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }

    /* PORTAFOLIO */
    .portafolio__item{
        width: 50%;
    }

    /* CONTACTO */
    .contacto__contenedor__box{
        flex-wrap: wrap;
    }
    .contacto__contenedor__box article{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px){
    .header__contenedor h1{
        font-size: 36px;
    }
    .servicios__contenedor__box article{
        width: 100%;
    }
}

@media only screen and (max-width: 576px){
    /* PORTAFOLIO */
    .portafolio__item{
        width: 100%;
    }
}


/* @media (min-width: 768px){
} */