// ⚡⚡ VARIABLES
$font-kaushan: 'Kaushan Script', cursive;
$font-merri: 'Merriweather', serif;
$font-mont: 'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif;

.contenedor{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    padding: 2rem 4rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    font-family: $font-mont;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
}
.btn-amarillo{
    background-color: #fed136;
    color: #fff;
}