.about{
    &__contenedor{
        &__timeline::before{
            content: "";
            width: 2px;
            background-color: #e9ecef;
            position: absolute;
            top: 0;
            bottom: 0;
            // height: 100%;
            left: 50%;
            transform: translateX(-50%);
            // height: 100px;
            // display: block;
        }
        &__timeline{
            position: relative;
            &__item{
                &:not(:last-child){
                    margin-bottom: 10rem;
                }
                position: relative;
                // height: 300px;
                &__imgBox{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    border: 6px solid #e9ecef;
                    @media only screen and (max-width: $bp-large){
                        width: 10rem;
                        height: 10rem;
                    }
                    img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                &__panel{
                    width: 30%;
                    &--titulo{
                        font-family: $font-mont;
                        font-size: 2.4rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    &--descri{
                        font-family: $font-roboto;
                        font-size: 1.6rem;
                        color: #6c757d;
                        line-height: 2.8rem;
                    }
                }
                // &__panel:nth-child(even){
                //     background-color: peru;
                // }
            }
            &__item:nth-child(odd){
                // background-color: peru;
                .about__contenedor__timeline__item__panel{
                    // background-color: peru;
                    text-align: right;
                    margin-left: 10%;
                }
            }
            &__item:nth-child(even){
                .about__contenedor__timeline__item__panel{
                    text-align: left;
                    margin-right: 10%;
                    margin-left: auto;
                }
            }
            .lastItem{
                height: 15rem;
                @media only screen and (max-width: $bp-large){
                    height: 10rem;
                }
                div{
                    background-color: #fed136;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: white;
                        font-size: 1.8rem;
                        font-family: $font-mont;
                        font-weight: 700;
                        text-align: center;
                        @media only screen and (max-width: $bp-large){
                            font-size: 1.3rem;
                            padding: 0 .6rem;
                        }
                    }
                }
            }
        }
    }
}